<div class="wrapper-container w-100 position-relative">
  <div class="card chat-window shadow-lg border-0" [ngClass]="isChatWindow ? 'show-chat-window': 'd-none'">
    <div class="card-header text-white d-flex" style="background-color: #3F51B5;">
      <div class="col ">Chat</div>
      <div class="text-right col d-flex justify-content-end">
        <mat-icon class="mb-0" (click)="closeChatWindow()">close</mat-icon>
      </div>
    </div>
    <div #chatBody id="chatBody" class="card-body px-0" style="overflow: scroll; padding-bottom: 80px;">
      <div class="d-flex my-1">
        <div class="col-2" [ngClass]="isChatWindowLoading ? 'fade-in' : 'd-none'">
          <button mat-mini-fab class="mr-2" color="primary">
            <mat-icon>supervised_user_circle</mat-icon>
          </button>
        </div>
        <div class="col-10">
          <div class="reply my-1 welcome-area" [ngClass]="isChatWindowLoading ? 'fade-in' : 'd-none'">
            Hi! welcome to inventoryhead
          </div>
          <div class="reply my-1 welcome-area" [ngClass]="isChatWindowLoading ? 'fade-in' : 'd-none'">
            Ask mea question and i will findthe answers for you.....
          </div>
        </div>
      </div>


      <div id="chatArea" class="w-100">
        <ng-container  *ngFor="let replies of reply">
          <div *ngIf="!replies?.isResponse" class="message mr-2" [ngClass]="isMessage ? 'fade-in':'d-none'">{{replies.text}}</div>
          <div  *ngIf="replies?.isResponse" class="d-flex my-1">
            <div class="col-2" [ngClass]="isReply ? 'fade-in' : 'd-none'">
              <button *ngIf="replies.isLogo" mat-mini-fab class="mr-2" color="primary">
                <mat-icon>supervised_user_circle</mat-icon>
              </button>
            </div>
            <div class="col-10">

              <div class="reply my-1" [ngClass]="isReply ? 'fade-in':'d-none'">
                {{replies.text}}</div>
            </div>
          </div>
        </ng-container>
      </div>


    </div>
    <div class="card-footer position-absolute w-100 border-0 bg-light" style="bottom: 1px; height: 80px;">
      <form action="w-100 mb-0">
        <div class="d-flex">
          <div class="form-group mb-0 w-75">
            <textarea name="" class="form-control" [(ngModel)]="messageInput" [ngModelOptions]="{standalone: true}"
              style="resize: none;"></textarea>
          </div>

          <div class="w-25 text-center">
            <button mat-fab [disabled]="!messageInput" color="primary" (click)="sendMessage()"
              aria-label="Example icon button with a filter list icon">
              <mat-icon>send</mat-icon>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="example-button-container">
    <button mat-fab color="warn" aria-label="Example icon button with a filter list icon" class="query-btn"
      (click)="showChatWindow()">
      <mat-icon>question_answer</mat-icon>
    </button>
  </div>
</div>
